<<<<<<< HEAD
.cardContainer{
    display:flex;
    flex-direction: column;
    text-align: center;
    background-color: #008000;
    width: auto;
    border-radius: 5px;
    padding: 20px;
    cursor: pointer;
    -moz-osx-font-smoothing: grayscale;
	backface-visibility:hidden;
	transform: translateZ(0);
	transition: transform 0.25s ease-out;
}
.cardContainer:hover{
    transform: scale(1.05);
}

.attributes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    font-size: small;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    margin-left: auto;
    margin-right: auto;
}


.closeButton{
    background-color: red;
    border-radius: 8px;
    opacity: 0.7;
    position: absolute;
    top: 5px;
    right: 5px;
}

.closeButton:hover{
    background-color: red;
    color: white;
}

.imageContainer{
    position: relative;
    text-align: center;
    display: inline-block;
    margin-bottom: 5px;
}

.name{
    position: absolute;
    width: 100%;
    top:50%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out; 
    -ms-transition: all 0.3s ease-in-out; 
    transition: all 0.3s ease-in-out;
}

.characterImage{
    display: block;
    width: 100%;
    height: auto;
    -webkit-transition: all 0.3s ease-in-out; 
    -ms-transition: all 0.3s ease-in-out; 
    transition: all 0.3s ease-in-out;
}

.imageContainer:hover .characterImage{
    opacity: 0.4;
}

.imageContainer:hover .name{
    opacity: 1;
=======
.cardContainer{
    display:flex;
    flex-direction: column;
    text-align: center;
    background-color: #008000;
    width: auto;
    border-radius: 5px;
    padding: 20px;
    cursor: pointer;
    -moz-osx-font-smoothing: grayscale;
	backface-visibility:hidden;
	transform: translateZ(0);
	transition: transform 0.25s ease-out;
}
.cardContainer:hover{
    transform: scale(1.05);
}

.atributes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    font-size: small;
    font-family: "Franklin Gothic Medium","Arial Narrow", Arial,sans-serif;
}

.closeButton{
    background-color: red;
    border-radius: 8px;
    opacity: 0.7;
    position: absolute;
    top: 5px;
    right: 5px;
}

.closeButton:hover{
    background-color: red;
    color: white;
}

.imageContainer{
    position: relative;
    text-align: center;
    display: inline-block;
    margin-bottom: 5px;
}

.name{
    position: absolute;
    width: 100%;
    top:50%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out; 
    -ms-transition: all 0.3s ease-in-out; 
    transition: all 0.3s ease-in-out;
}

.characterImage{
    display: block;
    width: 100%;
    height: auto;
    -webkit-transition: all 0.3s ease-in-out; 
    -ms-transition: all 0.3s ease-in-out; 
    transition: all 0.3s ease-in-out;
}

.imageContainer:hover .characterImage{
    opacity: 0.4;
}

.imageContainer:hover .name{
    opacity: 1;
>>>>>>> 3cbafe75538a528c2006c0ecdbce8c042162c13f
}